<a href="/oauth/applications/<%=app._id%>"><div class="bg-vwhite dark:bg-vgray p-5 shadow-lg rounded-lg flex justify-between cursor-pointer ">
	<div class="max-w-screen-sm truncate text-gray-400">
		<span class="text-wdark dark:text-vwhite"><%=app.name%></span><br>
		<span class="text-gray-400 w-56 truncate pr-2"><%=app.clientId%></span>
	</div>
	<div>
		<i class="fa-solid fa-chevron-right text-5xl text-wdark dark:text-vwhite"></i>
	</div>
</div></a><br><br>