<br>
<div class="youfailed-wrap">
    <div class="youfailed">
        <div>
            <img src="/resources/<%=type%>.png" width="64" class="youfailedimg">
        </div>
        <div class="youfailedtext-wrap">
            <p class="youfailedtitle"><%=title%></p>
            <p class="youfailedtext"><%=message%></p>
        </div>
    </div>
</div>