<br>
<div class="flex flex-row justify-center">
    <div class="flex flex-row bg-wlight-dark text-vwhite border-2 border-red-600 rounded-md p-2 items-center">
        <div>
            <img src="/resources/<%=type%>.png" width="64" id="youfailedimg">
        </div>
        <div class="pl-2">
            <p id="youfailedtitle" class="font-bold"><%=title%></p>
            <p id="youfailedtext"><%=message%></p>
        </div>
    </div>
</div>