<br>
<div class="w-full" style="background-color: rgb(73 73 73);padding:0.25em; color:#83888f;position: fixed;bottom: 0px;">
    <small>LITauth, a LIT Devs service <span style="float: right"><a href="#" style="text-decoration:underline; cursor: pointer;" onclick='alert("\"Vukkybox\", \"Vukky\", \"Pukky\", and all other properties are the intellectual property of LIT Devs. All rights reserved.")'>Copyright</a> - <a style="text-decoration:underline;cursor: pointer;" onclick="alert(`LITauth was created by LIT Devs\nVukkies were created by Vukky\nAvatar designer music: The Simulation - Future Cat LLC`)">Credits</a> - <a href="/terms" style="text-decoration:underline">Terms of Service</a> - <a href="/privacy" style="text-decoration:underline">Privacy Policy</a></span></small>
</div>