<!DOCTYPE html>
<html lang="en"  >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>404 Not Found</title>
		<meta property="og:site_name" content="pankeks">
		<meta name="title" content="pankeks">
		<meta name="description" content="pankeks">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet"> 
		<script>
			// if we have permission
			new Audio('/resources/404.mp3').play();
			setInterval(() => {
				document.querySelector("#happyface").innerHTML = document.querySelector("#happyface").innerHTML += "D";
			}, 20);
		</script>
		<style>
			* {
				font-family: 'Comic Neue', cursive;
				background-color: black;
				word-wrap: break-word;
			}
			h1 {
				color: magenta;
			}
			p {
				color: cyan;
			}
			small {
				color: lime;
			}
			button {
				color: red;
			}
		</style>
	</head>
	<body>
		<h1>sorry but nimpko ate your page for breakfast</h1>
		<p>please try a different page... thanks :<span id="happyface">D</span><br>also here is a photo of the accident</p><br><br>
		<small>"mmm.. yummy pancaek..."</small><br>
		<img src="/resources/404.png" width="128" onclick="new Audio('/resources/404-2.wav').play()" style="cursor: pointer;"> <small>(the page is inside the pancaek)</small>
		<br><button onclick="new Audio('/resources/404.mp3').play()">play musicz</button>
	</body>
</html>