<!DOCTYPE html>
<html lang="en"  >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>404 Not Found</title>
		<link rel="stylesheet" href="https://vukkybox.com/resources/style.css">
		<meta property="og:site_name" content="LIT Auth">
		<meta name="title" content="404">
		<meta name="description" content="This page could not be accessed.">
		<meta property="og:image" content="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyconfused.png">
	</head>
	<body class="bg-gray-100">
			<p>404 is the http reponse code for Not Found, this is why your friend may break down laughing while staring at a vending machine with item 404 missing</p>
			<br><a href="/" class="text-blue-500"><p>go home</p></a>
	</body> 
</html>