<title>litauth broken</title>
<meta property="og:site_name" content="lit auht">
<meta name="title" content="Service Unavailable">
<meta name="description" content="This page could not be accessed.">
<meta property="og:image" content="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyfire.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% if(friendlyError) { %>
    <h1>Well, that clearly didn't work.</h1>
    <%-friendlyError %>
<% } else { %>
   <%=stacktrace %>
<% } %>
<%- include("common/footer.ejs"); %>